.header {
    display: flex;
    gap: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);

    &_item {
        color: #fff;
        font-size: 15px;
    }
}

.active {
    color: red;
}
